* ::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* other */
  --spacing: 1px;
  --radius: 0.3rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* fonts */
  --heading-font: 'Lato', sans-serif;
  --body-font: 'Raleway', sans-serif;
  --small-text: 0.8rem;

  /* coolors */
  --primary-cl: #000000;
  --secondary-cl: #14213d;
  --secondary-light: #fca311;
  --highlight-1: #ffb703;
  --highlight-2: #fb8500;
  --alert-danger: #e76f51;
  --alert-success: #2a9d8f;
  --white-cl: #fff;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: var(--body-font);
}

p {
  line-height: var(--line-height);
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  text-transform: capitalize;
  font-family: var(--heading-font);
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

small .text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  color: var(--secondary-cl);
}

a:hover {
  color: var(--primary-cl);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.btn {
  cursor: pointer;
  border: transparent;
  border-radius: var(--radius);
  background-color: var(--primary-cl);
  padding: 0.5rem 1rem;
  color: var(--white-cl);
  transition: var(--transition);
}

.btn:hover {
  background: var(--highlight-1);
  color: var(--primary-cl);
}

.btn-hipster {
  background-color: var(--highlight-2);
}

.btn-hipster:hover {
  background-color: var(--highlight-1);
}

.btn-block {
  width: 100%;
}

.alert {
  border-color: transparent;
  border-radius: var(--radius);
  margin-bottom: 1rem;
  padding: 0.3rem 0.4rem;
}

.alert-danger {
  color: var(--white-cl);
  background-color: var(--alert-danger);
}

.alert-success {
  color: var(--white-cl);
  background-color: var(--alert-success);
}

.form {
  width: 90vw;
  max-width: var(--max-width);
  background: var(--white-cl);
  border-radius: var(--radius);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  box-shadow: var(--shadow-2);
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  background: var(--grey-50);
  border: 1px solid var(--grey-200);
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--alert-danger);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.title {
  text-align: center;
}

.underline {
  background: var(--grey-600);
  border-radius: var(--radius);
  width: 70%;
  height: 0.1rem;
  margin: 1rem auto;
}

.hide {
  display: none;
}

.checked {
  color: var(--highlight-2);
}

/* ----------------------- */
/* ******* Header ******* */
/* --------------------- */

.header {
  background: var(--primary-cl);
  display: grid;
  grid-template-columns: 20% 80%;
}

.logo {
  font-family: 'Dancing Script', cursiv;
}

.bar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: white;
  transition: var(--transition);
}

.bar-btn:hover {
  transform: scale(1.2);
}

/* ----------------------- */
/* ******* Navbar ******* */
/* --------------------- */

.nav-links {
  margin: 0;
}

.nav-links i {
  width: 2rem;
}

.search-form {
  width: 100vw;
  position: relative;
}

.search-input {
  outline: none;
  width: 100%;
  border: transparent;
  padding: 1rem;
  background-color: var(--grey-100);
}

.search-form i {
  position: absolute;
  transform: translate(0, 50%);
  right: 1rem;
  font-size: 1.5rem;
  color: var(--grey-300);
}

@media screen and (max-width: 500px) {
  .nav {
    box-shadow: var(--shadow-2);
    display: grid;
  }
  .logo {
    font-size: 3rem;
    text-align: center;
    background-color: var(--primary-cl);
    color: var(--white-cl);
    padding: 1rem;
  }
  .nav-links a {
    display: block;
    padding: 1rem;
    transition: var(--transition);
  }

  .nav-links a:hover {
    background: var(--secondary-cl);
    color: var(--white-cl);
  }

  .login a {
    background-color: var(--secondary-cl);
    color: white;
  }

  .login a:hover {
    background-color: var(--secondary-light);
    color: var(--primary-cl);
  }
}

/* ----------------------- */
/* ******* Movies ******* */
/* --------------------- */
.movies {
  margin: 2rem 0;
}
.movie {
  margin-bottom: 3rem;
}

.movie-thumbnail {
  border-top: 2px solid var(--highlight-2);
  width: 70vw;
  border-radius: var(--radius);
  box-shadow: var(--shadow-2);
}

.rating {
  margin: 0;
  padding: 0;
}

.movie-release-date {
  color: var(--grey-400);
  font-size: var(--small-text);
}

@media screen and (max-width: 500px) {
  .movies {
  }

  .movie {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 0.5rem;
  }
}
